.Description{
   margin: 0px 0px 0px 10px;
   font-family: "Schibsted Grotesk", sans-serif;
   display: grid;
   grid-template-columns:auto auto
}

.Description .weatherDescription{
    font-style: italic;
    font-size: 23px;
}


