.formPoz{
  display:flex;
  flex-direction: row;

}
.searchForm{
  display: flex;
  width: 100%;
}

.searchForm #type-city{
    width: 500px;
    height: 40px;
    padding:5px;
    margin: 10px;
    border-radius: 5px;
    border: 0;
}
.searchForm .submitButton{
    padding: 6px 45px 6px 45px;
    margin: 10px;
    border-radius: 10px;
    background-color: rgb(59, 153, 59);
    border:rgb(7, 75, 7) ;
    color: white;
    font-family: "Schibsted Grotesk", sans-serif;
    box-shadow: rgba(60, 64, 67, .3) 0 1px 3px 0, rgba(60, 64, 67, .15) 0 4px 8px 3px;
}
.formPoz .curTemp{
    margin: 10px;
    width: 100%;
    border-radius: 10px;
    background-color: rgb(221, 61, 61);
    border: red;
    color: white;
    font-family: "Schibsted Grotesk", sans-serif;
    box-shadow: rgba(60, 64, 67, .3) 0 1px 3px 0, rgba(60, 64, 67, .15) 0 4px 8px 3px;
}
.searchForm .submitButton:hover {background-color: #3e8e41}

.searchForm .submitButton:active {
  background-color:rgb(59, 153, 59);
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}
.curTemp:hover {
    background-color:rgb(221, 61, 61);
}

.curTemp:active {
  background-color: rgb(221, 61, 61);
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}
.searshResult{
  font-size: 40px;
  margin: 10px;
}